/* @import url("https://fonts.googleapis.com/css?family=Didact+Gothic");

@font-face {
  font-family: "Didact Gothic";
  src: url("fonts/Didact_Gothic/DidactGothic-Regular.ttf");
  src: url("fonts/Didact_Gothic/DidactGothic-Regular.ttf") format("ttf");
} */

html {
  scroll-behavior: smooth;
}

body {
  /* font-family: "Didact Gothic", sans-serif !important; */
  overflow-x: hidden;
}

.navbar.landingpage {
  position: absolute;
  width: 100%;
  z-index: +1;
}

body:not(.admin).btn {
  border-radius: 2px;
  font-size: 1rem;
  font-weight: 500;
  border-width: 3px;
  line-height: 1.5;
  background-color: #007aff;
  border-color: #007aff;
  color: white;
  line-height: 36px;
  padding-top: 0;
  padding-bottom: 0;
}

section {
  display: block;
}

.section-button-wrap {
  text-align: center;
  margin-top: 40px;
  display: block;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  margin-right: auto;
  margin-left: auto;
}

.container::after {
  display: table;
  clear: both;
  content: "";
}


h1 {
  color: #1f3d87;
}

.animatedBtn {
  color: #fff;
  boder-color: #fff;
  background: -webkit-gradient(linear, right top, left top, from(#ee7752), color-stop(#e73c7e), color-stop(#23a6d5), to(#23d5ab));
  background: -o-linear-gradient(right, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background: linear-gradient(270deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 800% 800%;
  -webkit-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}
 @-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
 @keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
