mixin jumbotron
  section
    .jumbotron.jumbotron-fluid.jumbotron-courses
      .container
        h1.jumbotron-header Start your digital Career
        
          p.typed-cursor.paragraph-jumbotron hola
        .btn-group
          a.btn.btn-primary.btn-lg(href='/courses', role='button') Brows Courses
          a.btn.ml-3.btn-secondary.rounded.mx-1.contact-us-btn(href='#contactUs', role='button')
            |  Contact Us

    
