mixin ourCoursesSection
  section#ourcourses.section-services.py-5
    .container.pt-5
      h2.display-1.text-center.text-uppercase Our courses
      h3.mb-5.text-center.text-muted We offer many interesting educational trainings
      
      .row.mx-5
        each course in courses
          +courseCard(course)

      .section-button-wrap
        a.btn.btn-lg.btn-gradient-secondary.mx-5(href='/courses/', role='button', aria-pressed='true') Browse Courses
